* {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  margin: 0;
}

form {
  display: flex;
}

select {
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 0 1.5rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin: 0.5rem;
}

.form-group label {
  color: #777;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.container {
  margin: 1rem 2rem;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 2rem;
  border-width: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  height: 150px;
  width: 150px;
  margin: 10px;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card:hover,
.card:focus {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #fff;

  /*fixes firefox + safari*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.card .back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front div,
.back {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  flex-direction: column-reverse;
  text-align: center;
}
